@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/Roboto-Black.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-BlackItalic';
	src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-MediumItalic';
	src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto-Italic';
	src: url('../fonts/Roboto-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-MediumItalic';
	src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}



@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-ThinItalic';
	src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

* {
	box-sizing: border-box;
}



html,
body {
	background: #fff;
	font-family: "Roboto-Regular";
	margin: 0;
	padding: 0;
	height: 100%;
}

.login-wrapper {
	display: flex;
	height: 100%;
}

.blue-bg {
	display: flex;
	background-color: #fff;
	flex-direction: column;
	align-items: center;
	width: 60%;
	height: 100%;
}

.spacer {
	flex: 1
}
.logo-container {
	text-align: center;
	margin-bottom: 10px;
}
.logo {
	width: 150px;
}
.form-title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.infinx-logo {
	margin-bottom: 10px;
	margin-top: 10px;
	align-self: flex-start;
	margin-left: 10px;
	margin-right: 10px;
}
.infinx-logo-img {
	width: 150px;
height: 31.44px;
top: 50px;
left: 50px;
gap: 0px;
opacity: 0px;

}

.newOtpInput {
	border: 1px solid #5C7B99;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 10px;
	box-sizing: border-box;
	flex: 1;
	aspect-ratio: 10/9;
}
.newOtpInputBox {
	color: #333333;
	font-size: 12px;
	line-height: 12px;
	flex: 1;
	color: #333333;
	font-weight: 400;
	outline: none;
	border: none;
	box-shadow: none;
	width: 100%;
	text-align: center;
}

.newOtpWrapper {
	display: flex;
	gap: 6px;
	margin-bottom: 15px;
	width: 100%;
	justify-content: flex-start;
}
.input-lbl {
	color: #5C7B99;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.otp-box-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	width: 80%;
	margin-top: 30px;
}
.login-button {
	background: #006FEE;
	color: #fff;
	padding: 16px 16px;
	font-size: 16px;
	font-weight: 600;
	font-family: "Roboto-Medium";
	text-transform: capitalize;
	border-radius: 12px;
	cursor: pointer;
	border: 0;
	width: 100%;
	margin-left:10px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;  /* Add slight gap between checkbox and label */
}

.remember-me input {
    margin: 0;
}

.forgot-password {
    text-align: right;
}



       
  




        
        
        
        
        
       
#kc-setup-totp-form-wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.welcome-image {
	width: 280px;
	height: 280px;
	margin-bottom: 23px;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 300ms ease;
	position: relative;
	top: 10px;
	left: 10px;
}

.welcome-image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 558px;
	height: 584px;
	background-image: url('../img/ellipse.png');
	background-size: cover;
	
}

.dots-wrapper {
	display: flex;
	margin-top: 24px;
	align-items: center;
	justify-content: center;
}

.dot {
	width: 8px;
	height: 6px;
	background-color: #AEBECA;
	border-radius: 3px;
	transition: all 200ms ease;
	margin-right: 4px;
}

.dot.active {
	background-color: #2196F3;
	width: 16px;
}

.welcome-image.first {
	background-image: url("../img/b1.png");
}

.welcome-image.second {
	background-image: url("../img/b2.png");
}

.welcome-image.third {
	background-image: url("../img/b3.png");
}

.welcome-image.fourth {
	background-image: url("../img/b4.png");
}

.welcome-info {
	margin-top: 76px;
	text-align: center;
	width: 421px;
	margin-bottom: 40px;
}

.welcome-title {
	font-family: "Roboto";
font-size: 30px;
font-weight: 700;
line-height: 60px;
text-align: center;
text-underline-position: "from-font";
text-decoration-skip-ink: none;

}

.welcome-subtitle {
	margin-top: 5px;
	font-family: "Roboto";
font-size: 20px;
font-weight: 300;
line-height: 40px;
text-align: center;
text-underline-position: "from-font";
text-decoration-skip-ink: none;

}

.kc-config-totp-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%; 
	overflow: auto;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
.update-password-title {
	font-family: 'Roboto';
font-size: 24px;
font-weight: 500;
line-height: 60px;
text-align: center;
text-underline-position: 'from-font';
text-decoration-skip-ink: none;
margin-bottom: 70px;

}

.form-wrapper {
	width: 40%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	flex-direction: column;
}

.kc-content-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap:10px;
}
.otp-ins {
	font-family: 'Roboto';
font-size: 14px;
font-weight: 400;
line-height: 17.32px;
text-align: center;
text-underline-position: 'from-font';
text-decoration-skip-ink: none;
}
.backtoLogin {
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 17.32px;
	text-align: center;
	margin-top: 10px;
	text-decoration: none;
}

.row {
	display: flex;
}

.fcol {
	flex-direction: column;
}

.acenter {
	align-items: center;
}

.astart {
	align-items: flex-start;
}

.jcenter {
	justify-content: center;
}

.jstart {
	justify-content: flex-start;
}

.jend {
	justify-content: flex-end;
}

#kc-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#kc-form-wrapper {
	width: 70%;
}
/* custom styles end */

















.main-layout {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.login-container {
	margin-top: 5%;
	margin-left: 50%;
	background: #fff;
	border-top: 4px solid hsla(211, 100%, 28%, 1);
	box-shadow: 0 0 16px #cacaca;
	border-radius: 4px;
}

.login-details {
	padding: 45px;
	min-width: 350px;
	padding-top: 0;
}


.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	border-radius: 6px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	width: 100%;
}
.input-group label {
	font-size: 14px;
	margin-bottom: 12px;
}

.input-group input {
	padding: 12px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 12px;
	width: 100%;
}


.inpico {
	margin-left: 15px;
	width: 15px;
}
.input-container {
    position: relative;
	display: flex;
	width: 100%;
}
#mode-manual{
	display: flex;
	justify-content: end;
}

.input-container input {
    transition: border-color 0.3s;
	font-size: 14px;
	padding: 12px 0px;
	border-radius: 10px;
	flex: 1;
	color: #181C21;
	font-weight: 400;
	outline: none;
	border: none;
	box-shadow: none;
}

input:focus,
input:not(:placeholder-shown) { /* Treats prefilled inputs as focused */
    border-color: darkgray;
}

.floating-label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
    color: #999;
    pointer-events: none;
}

input:focus + .floating-label,
input:not(:placeholder-shown) + .floating-label {
    top: -9px;
    left: 10px;
    font-size: 12px;
    color: #446eb7;
	background-color: #fff;
	padding: 1px
}

/* .input-group label {
	font-size: 13px;
	color: #000000;
	position: absolute;
	top: 50%;
transform: translateY(-50%);
transition: transform 0.3s ease;
}

.input-group input {
	font-size: 14px;
	padding: 15px 0px;
	border-radius: 10px;
	flex: 1;
	color: #181C21;
	font-weight: 400;
	outline: none;
	border: none;
	box-shadow: none;
}

.input-group input:focus + label {
	transform: translateY(-100%);
} */

.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;  /* Add slight gap between checkbox and label */
	margin-left: 8px;
}

.remember-me input {
    margin: 0;
}
/* .remember-me input {
	margin-right: 5px;
} */

.options-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;  /* Add some spacing above */
	margin-bottom: 12px;
}
.remember-me label {
	white-space: nowrap;
	margin:inherit;
}


/* .options-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
} */

.options-block> :first-child {
	margin-right: 25px;
	padding: 10px 10px 10px 0px;
}

.options-block> :last-child {
	padding: 15px 10px 10px 0px;
}

#kc-reset-password-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#kc-email-otp-login-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


input:-webkit-autofill {
	box-shadow: inset 0 0 0px 9999px white;
}

.forgot-password a {
	color: #006FEE;
	font-size: 11px;
	font-weight: 500;
	line-height: 16px;
	margin-top: 20px;
	text-decoration: none;
	padding-top: 10px;
}

.login-title {
font-family: inter;
font-size: 30px;
font-weight: 700;
text-align: center;
text-underline-position: from-font;

	color: #093563;
}
.reset-password-subtitle {
	height: 63px;
	font-family: 'Roboto';
font-size: 16px;
font-weight: 400;
text-align: center;
text-underline-position: 'from-font';
text-decoration-skip-ink: none;


}

.login-subtitle {
	font-family: 'Roboto';
font-size: 20px;
font-weight: 400;
line-height: 50px;
text-align: center;
text-underline-position: 'from-font';
text-decoration-skip-ink: none;

	margin-bottom: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.prules{
	color: gray;
	padding-left: 14px;
	font-size: 13px;
	line-height: 1.5;
}












/* Customize the label (the container) */
.checkbox-wrapper {
	display: block;
	position: relative;
	padding-left: 35px;
	padding-top: 4px;
	margin-bottom: 0;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #003366;
}

/* Hide the browser's default checkbox */
.checkbox-wrapper input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 4px;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #fff;
	border: 2px solid rgba(127, 86, 217, 1);
}

/* On mouse-over, add a grey background color */
.checkbox-wrapper:hover input~.checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-wrapper input:checked~.checkmark {
	background-color: rgb(254, 254, 254);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-wrapper input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-wrapper .checkmark:after {
	left: 3px; /* Adjusted to overlap on top right corner */
	top: 3px;
	width: 4px;
	height: 15px;
	border: solid rgba(127, 86, 217, 1);
	border-width: 0 2px 2px 0;
	transform: rotate(45deg) translate(-50%, -50%);
	z-index: 1; /* Ensures the checkmark overlaps with the checkbox border */
	background-color: #fff; /* Ensures the border disappears from the overlap */
}

.message-block {
	display: flex;
	align-items: center;
}

.message-block p {
	font-size: 13px;
	margin: 0;
	margin-left: 5px;
	max-width: 250px;
}

.error-msg {
	color: #cc0000;
}

.warning-msg {
	color: #a7923f;
}

.infx-form-item-required:before {
	content: '*';
	color: red;
	/* margin: 5px; */
	font-size: 13px;
}

.infx-info-icon:before {
	display: block;
	/* position: absolute; */
	left: 20px;
	top: 25px;
	content: "!";
	border-radius: 50%;
	border: 1px solid white;
	width: 13px;
	height: 13px;
	line-height: 13px;
	text-align: center;
	color: white;
	background-color: red;
	font-weight: bold;
}

#mismatchError,
#infx-kc-content-wrapper {
	margin: 5px;
}

.message-block-update {
	/* display: flex; */
	align-items: flex-start;
}

.message-block-update p {
	font-size: 12px;
	margin: 0;
	word-break: break-all;
	margin-left: 5px;
	text-align: center;
	max-width: 255px;
}

:root {
	--bottom-position: 15px;
	--right-position: 30px;
	--support-width: 52px;
	--support-option-width: 38px;
}

#support-btn-wrap {
	position: fixed;
	bottom: var(--bottom-position);
	right: var(--right-position);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #003366;
	color: #fff;
	border-radius: 20px 6px 20px 20px;
	padding: 10px 24px;
	cursor: pointer;
	transition: transform 400ms ease;
	user-select: none;
}

.support-text{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.30000001192092896px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

}

#ticketbtn {
	opacity: 0;
	bottom: var(--bottom-position);
}

#emailbtn {
	bottom: var(--bottom-position);
}

.soption {
	width: var(--support-option-width);
	height: var(--support-option-width);
	border-radius: 50%;
	background-color: #f3f7fd;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #003366;
	cursor: pointer;
	position: fixed;
	z-index: 9;
	right: calc(var(--right-position) + calc(var(--support-option-width)/4 - 2px));
	transition: all 300ms cubic-bezier(.09, .82, .62, 1.58);
}

.tooltip:before {
	content: attr(data-text);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 100%;
	margin-right: 15px;
	max-width: 200px;
	padding: 9px 10px;
	border-radius: 5px;
	background: #fff;
	color: #333;
	font-size: 11px;
	line-height: 14px;
	text-align: center;
	opacity: 0;
	transition: all 500ms ease;
	pointer-events: none;
	white-space: nowrap;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.tooltip:after {
	content: "";
	position: absolute;
	right: 100%;
	opacity: 0;
	pointer-events: none;
	margin-right: 0;
	transition: opacity 500ms ease;
	border: 8px solid #fff;
	border-color: transparent transparent transparent white;
}

.tooltip:hover:before,
.tooltip:hover:after {
	opacity: 1;
}


.password-toggle {
	position: absolute;
	right: 10px;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: all 250ms ease;
	border-radius: 4px;
}
.password-container {
	display: flex;
	align-items: center;
	position: relative;
}

	
	
	




.password-toggle:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.password-toggle.show {
	background-image: url("../img/show.png");
}

.password-toggle.hide {
	background-image: url("../img/hide.png");
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}


#kc-totp-settings{
	list-style-type: decimal;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 40px;
	font-size:15px;
}

#kc-totp-settings p {
	margin:5px 0;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 500;
	line-height: 17.32px;
	text-align: left;
	text-underline-position: 'from-font';
	text-decoration-skip-ink: none;
}




.height-holder{
	height: 40px;
}

#kc-totp-supported-apps li{
	line-height: 1.5;
}
.qrcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.qrcontainer img {
	width: 200px;
	height: 200px;
}


#kc-totp-settings-form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#kc-otp-login-form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#kc-info {
	margin-top: 30px;
	font-size: 13px;
	color: #72767b;
	width: 80%;
	padding-left: 50px;
}

#kc-info-wrapper {
	width: 80%;
}

.alert-wrapper{
	margin-top: 10px;
	margin-bottom: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.iasthemealert{
	width: 80%;
	padding: 12px;
	border-radius: 4px;

}

.alert {
	padding: 11px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 1px
}

.alert h4 {
	margin-top: 0;
	color: inherit
}

.alert .alert-link {
	font-weight: 500
}

.alert>p,.alert>ul {
	margin-bottom: 0
}

.alert>p+p {
	margin-top: 5px
}

.alert-dismissable,.alert-dismissible {
	padding-right: 31px
}

.alert-dismissable .close,.alert-dismissible .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit
}

.alert-success {
	color: #1e4f18;
	background-color: #e9f4e9;
	border-color: #3f9c35
}

.alert-success hr {
	border-top-color: #37892f
}

.alert-success .alert-link {
	color: #1d1d1d
}

.alert-info {
	color: #002952;
	background-color: #f5f5f5;
	border-color: #8b8d8f
}

.alert-info hr {
	border-top-color: #7e8082
}

.alert-info .alert-link {
	color: #1d1d1d
}

.alert-warning {
	color: #795600;
	background-color: #fdf2e5;
	border-color: #ec7a08
}

.alert-warning hr {
	border-top-color: #d36d07
}

.alert-warning .alert-link {
	color: #1d1d1d
}

.alert-danger, .alert-error {
	color: #a30000;
	background-color: #ffe6e6;
	border-color: #c00
}

.alert-danger hr {
	border-top-color: #b30000
}

.alert-danger .alert-link {
	color: #1d1d1d
}